<div id="container-right">
<h4>Relevant Links</h4>
<%= link_to 'MS SharePoint Services' , service_sharepoint_services_path%><br />
<%= link_to 'Web Application Development' , service_webapplication_development_path%><br />
<%= link_to 'Outsourced Product Development' , service_product_development_path%><br />
<%= link_to 'OpenSource Customizations' , service_opensource_customizations_path %><br />
<%= link_to 'Value-added Staff Augmentation' , service_staff_augmentation_path %><br />
<%= link_to 'Value-added Reselling' , service_reselling_path %><br />
<%= render 'home/form' %>
</div>
