<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'solutions.png' , :alt => 'Indigenius technologies' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<%= image_tag 'content_manage_logo.png' , :alt => 'Indigenius solutions' , :title => 'Indigenius' %> <br />
<h5>Content Manage captures the essence of most popular CMS engines like Joomla, Drupal and simplifies the web master’s tasks<h5>
<%= image_tag 'content_manage_keyfeature.png' , :alt => 'Indigenius solutions' , :title => 'Indigenius' %>
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %></div>
</div>
