<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'solutions.png' , :alt => 'Indigenius technologies' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<%= image_tag 'test_genius_logo.png' , :alt => 'Indigenius solutions' , :title => 'Indigenius' %> <br />
<h5>
TestGenius has been developed by Indigenius in the year 2008. Organizations including JP’s Books (JP Print Systems Pvt Ltd) and Kasyap Technologies Pvt Ltd have organized web-based mock tests ranging from EAMCET, IIT, BITSAT to BSNL JTO and Bank PO tests using TestGenius application<h5>
<%= image_tag 'test_genius_keyfeature.png' , :alt => 'Indigenius solutions' , :title => 'Indigenius' %>
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %></div>
</div>
